<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sptpc.story.persistence.OrderMapper">

  <cache />
  <insert id="insertProduct" parameterType="Orders">
  	insert into orders values(
  		#{oid},
  		#{oname},
  		#{oimage},
  		#{oprice},
  		#{ocount},
  		#{ordertime}
  	)
  </insert>
 		

</mapper>